[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
python-decouple = "*"
flask-cors = "*"
faker = "*"
flask-wtf = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.10"
