.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 100%; 
  padding: 0 20px; 
  box-sizing: border-box; 
}

.header {
 display: inline;
align-items: center;
}

.logo {
  width: 150px; 
  height: auto;
  margin-right: 20px;
  margin-top: 10px;
}

.head {
  color: red;
  margin-top: -20px;
}

.head1{
  margin-left: 10px;
   color: red;
}
.navtags {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
}

.navtags ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-right: 200px;
}

.navtags ul li {
  margin-right: 65px;
}

.user {
  display: flex;
  align-items: center;
}

.links, .user-links, .logout {
  text-decoration: none;
  background-color: transparent;
  color: white;
  margin-right: 20px;
}

.links:hover, .user-links:hover, .logout:hover {
  color: red;
  transition: 0.5s;
}

.user-links {
  margin-right: 20px; 
}

.logout {
  color: red;
}

.logout:hover {
  color: white;
}
